.card__image-container {
  display: flex;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 12px auto 4px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 330px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #212121;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-button_liked {
  background-image: url(../images/like-icon-liked.svg);
  background-repeat: no-repeat;
  opacity: 100%;
}

.card__like-button_liked:hover {
  background-image: url(../images/like-icon-liked-hover.svg);
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  left: 371px;
  background-image: url(../images/delete-icon.svg);
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 220px;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 2px;
  }

  .card__delete-btn {
    left: 246px;
  }
}
